
<div class="md:mx-20">
  <div class="cardDiv">
    <div class="grid md:grid-cols-2 grid-cols-1 ">
        <div class="flex justify-center items-center h-screen card hiden">
            <img src="../../assets/images/hanna.jpg" alt="" class="w-full h-full object-cover" oncontextmenu="return false;" ondragstart="return false;">
          </div>          
        <div>
            <div class="md:px-14 bg-light px-10 py-2 mb-14 card hiden">
                <h1 class="Main lg:text-5xl md:text-4xl text-3xl font-thin text-left font-serif lg:my-10 mt-5" >Kapcsolatok</h1>
                <div class="my-5">
                    <p class="font-normal text-gray text-[23px]">Árajánlatot kérnél?</p>
                    <p class="font-light text-gray text-[20px]">Üzenj nekem erről az oldalról vagy keress egyéb elérhetőségeimen!</p>
                </div>
                <div class="my-5">
                    <p class="font-normal text-gray text-[23px]">Kérdésed lenne?</p>
                    <p class="font-light text-gray text-[20px]">Írj messengeren vagy instagrammon! Rövidebb kérdésekre ott tudok a leggyorsabb választ adni:)</p>
                </div>
                <div class="mt-5 mb-14">
                  <a href="mailto:hanna.pictures.collection@gmail.com">
                    <p class="font-light text-gray text-[20px]">Email: <span class="hover:underline text-[18px]">hanna.pictures.collection@gmail.com</span></p>
                  </a>
                    <a href="https://www.facebook.com/hanna.pictures.collection" target="_blank" rel="noopener noreferrer">
                      <p class="font-light text-gray text-[20px]">Facebook: <span class="hover:underline text-[18px]">Hanna's Pictures Collection</span></p>
                    </a>
                    <a href="https://www.instagram.com/hanna.pictures.collection" target="_blank" rel="noopener noreferrer">
                      <p class="font-light text-gray text-[20px]">Instagram: <span class="hover:underline text-[18px]"> @hanna.pictures.collection</span></p>
                    </a>
                    <a href="tel:+36703488744">
                      <p class="font-light text-gray text-[20px]">Telefonszám: <span class="hover:underline text-[18px]">06703488744</span></p>
                    </a>
                </div>

                <form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="w-full max-w-md ">
                    <div class="mb-4">
                      <label class="block font-light text-gray text-[20px] mb-2" for="firstName">Vezetéknév *</label>
                      <input type="text" id="firstName" formControlName="firstName" class="border border-gray  py-2 px-3 w-full" required>
                      <p class="text-red-700">{{ error.firstName }}</p>
                    </div>
                    <div class="mb-4">
                      <label class="block font-light text-gray text-[20px] mb-2" for="lastName">Keresztnév *</label>
                      <input type="text" id="lastName" formControlName="lastName" class="border border-gray  py-2 px-3 w-full" required>
                      <p class="text-red-700">{{ error.lastName }}</p>
                    </div>
                    <div class="mb-4">
                      <label class="block font-light text-gray text-[20px] mb-2" for="email">Email *</label>
                      <input type="email" id="email" formControlName="email" class="border border-gray  py-2 px-3 w-full" required>
                      <p class="text-red-700">{{ error.email }}</p>
                    </div>
                    <div class="mb-4">
                      <label class="block font-light text-gray text-[20px] mb-2" for="subject">Tárgy *</label>
                      <select id="subject" formControlName="subject" class="border border-gray font-light text-gray text-[20px] py-2 px-3 w-full" required>
                        <option value="" disabled selected>Válasszon egy Kategoriát</option>
                        <option value="Általános">Családi</option>
                        <option value="Számlázás">Páros</option>
                        <option value="Szerződés">Egyéni</option>
                        <option value="Egyéb">Egyéb</option>
                      </select>
                      <p class="text-red-700">{{ error.subject }}</p>
                    </div>
                    <div class="mb-4" *ngIf="myForm.get('subject')?.value === 'Egyéb'">
                        <label class="block font-light text-gray text-[20px] mb-2" for="customSubject">Egyéb kategoria *</label>
                        <input type="text" id="customSubject" formControlName="customSubject" class="border border-gray  py-2 px-3 w-full" required>
                        <p class="text-red-700">{{ error.customSubject }}</p>
                      </div>              
                    <div class="mb-4">
                      <label class="block font-light text-gray text-[20px] mb-2" for="message">Üzenet *</label>
                      <textarea id="message" formControlName="message" class="border border-gray h-[150px] py-2 px-3 w-full" required></textarea>
                      <p class="text-red-700">{{ error.message }}</p>
                    </div>
                    <div class="py-10">
                        <button type="button" (click)="onSubmit()" class="border-2 px-6 py-3 bg-blue text-white font-light text-[20px] ml-auto block hover:bg-white hover:text-blue hover:border-2">Küldés</button>
                        <div class="text-gray bg-green p-3 text-xl   text-right rounded-md" *ngIf="responseMessage">{{ responseMessage }}</div>
                    </div>
                    
                   
                  </form>
    </div>
</div>
</div>
</div>

<div class="md:h-[60px] md:w-[60px] w-17 h-17 rounded-full bg-pink flex justify-center items-center" id="scrollImage">
  <img  class="w-[50px]  invert" (click)="scrollToTop()" src="../../assets/svg/up.svg" alt="">
</div>