<div class="md:mx-20 mx-10 border-b-2 border-b-gray py-5">
    <div class="md:my-14 md:mx-[150px]">
        <h1 class="lg:text-7xl md:text-6xl text-4xl font-thin text-left font-serif">CSOMAGOK</h1>
   
        <div class="mt-10">
            <p class="font-light text-gray text-[18px]">Új fényképek az albumba? Életre szóló közös élmény? Örök emlék? Elkapott felszabadult Pillanatok? Felejthetetlen fotózás? </p>
            <p class="font-light text-gray text-[18px] mt-2">Igyekszem a lehető legjobbatnyújtani a fotózásaim során:) Válaszd a neked megfelelő, alkalomhoz illő csomagot, és egyeztetjük a továbbiakat!</p>
        </div>
    </div>
</div>

<!-- Családi -->
<div class="xl:mx-20 mx-5 border-b-2 border-b-gray mt-5">
    <div class="md:my-14 xl:mx-[150px]">
        <div class="grid lg:grid-cols-2 grid-cols-1">
            <div class=" flex flex-row justify-center items-center mt-10">
                <div></div>
                <div class="flex-1">
                    <img src="../../assets/images/becse-csontos-család/IMG_8864-2.jpg" alt="" oncontextmenu="return false;" ondragstart="return false;">
                </div>
                <div></div>
            </div>
            <div class="md:ml-10 mt-10">
                <h1 class="lg:text-5xl md:text-4xl text-3xl font-thin text-left font-serif lg:my-10">Családi Fotozás</h1>
                <div class="mb-10">
                    <p class="font-light text-gray text-[25px]">Fotózás:</p>
                    <ul class="list-disc ml-5">
                        <li class="font-light text-gray text-[20px]">közös helyszin választás </li>
                        <li class="font-light text-gray text-[20px]">ha van otthon a család szívéhez nőtt kisállat, akkor őt se felejtsétek otthon:) </li>
                        <li class="font-light text-gray text-[20px]">1,5-2óra fotózás</li>
                    </ul>
                </div>

                <div class="mb-10">
                    <p class="font-light text-gray text-[25px]">Képek átadása:</p>
                    <ul class="list-disc ml-5">
                        <li class="font-light text-gray text-[20px]">20-25 retusált kép kerül átadásra digitális formában </li>
                        <li class="font-light text-gray text-[20px]">igény szerint kérhető több retusált kép is, azok viszont felárasak </li>
                        <li class="font-light text-gray text-[20px]">a fotók egy online galériában lesznek elérhetők a megrendelő számára</li>
                    </ul>
                </div>

                <div class="mb-10">
                    <p class="font-light text-gray text-[25px]">+Tipp</p>
                <ul class="list-disc ml-5">
                    <li class="font-light text-gray text-[20px]">jól mutat, a képeket harmonikussáteszi ha összeöltöztök:) </li>
                    <li class="font-light text-gray text-[20px]">hozhattok váltóruhát is a változatosabb képekért </li>
                </ul>
                <div>
                    <button routerLink="/connect" class="border-2 px-6 py-3 bg-blue text-white font-light text-[20px] mx-auto block mt-10 hover:bg-white hover:text-blue hover:border-2">Árajánlatot kérek <span class="text-[22px]">></span></button>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- páros fotozás: -->
<div class="xl:mx-20 mx-5 border-b-2 border-b-gray mt-5">
    <div class="md:my-14 xl:mx-[150px]">
        <div class="grid lg:grid-cols-2 grid-cols-1">
            <div class="md:ml-10 mt-10">
                <h1 class="lg:text-5xl md:text-4xl text-3xl font-thin text-left font-serif lg:my-10">Páros fotózás</h1>
                <div class="mb-10">
                    <p class="font-light text-gray text-[25px]">Fotózás:</p>
                    <ul class="list-disc ml-5">
                        <li class="font-light text-gray text-[20px]">közös helyszin választás </li>
                        <li class="font-light text-gray text-[20px]">1,5-2óra fotózás</li>
                    </ul>
                </div>

                <div class="mb-10">
                    <p class="font-light text-gray text-[25px]">Képek átadása:</p>
                    <ul class="list-disc ml-5">
                        <li class="font-light text-gray text-[20px]">20-25 retusált kép kerül átadásra digitális formában </li>
                        <li class="font-light text-gray text-[20px]">igény szerint kérhető több retusált kép is, azok viszont felárasak </li>
                        <li class="font-light text-gray text-[20px]">a fotók egy online galériában lesznek elérhetők a megrendelő számára</li>
                    </ul>
                </div>

                <div class="mb-10">
                    <p class="font-light text-gray text-[25px]">+Tipp</p>
                <ul class="list-disc ml-5">
                    <li class="font-light text-gray text-[20px]">jól mutat, a képeket harmonikussáteszi ha összeöltöztök:) </li>
                </ul>
                <div>
                    <button routerLink="/connect" class="border-2 px-6 py-3 bg-blue text-white font-light text-[20px] mx-auto block mt-10 hover:bg-white hover:text-blue hover:border-2">Árajánlatot kérek <span class="text-[22px]">></span></button>
                </div>
                </div>
            </div>
            <div class=" flex flex-row justify-center items-center mt-10">
                <div></div>
                <div class="flex-1">
                    <img src="../../assets/images/collage.png" alt="" oncontextmenu="return false;" ondragstart="return false;">
                </div>
                <div></div>
            </div>
        </div>
    </div>
</div>

<!-- Egyéni -->
<div class="xl:mx-20 mx-5 border-b-2 border-b-gray mt-5">
    <div class="md:my-14 xl:mx-[150px]">
        <div class="grid lg:grid-cols-2 grid-cols-1">
            <div class=" flex flex-row justify-center items-center mt-10">
                <div></div>
                <div class="flex-1">
                    <img src="../../assets/images/rituu/IMG_0322.jpg" alt="" oncontextmenu="return false;" ondragstart="return false;">
                </div>
                <div></div>
            </div>
            <div class="md:ml-10 mt-10">
                <h1 class="lg:text-5xl md:text-4xl text-3xl font-thin text-left font-serif lg:my-10">Egyéni fotózás</h1>
                <div class="mb-10">
                    <p class="font-light text-gray text-[25px]">Fotózás:</p>
                    <ul class="list-disc ml-5">
                        <li class="font-light text-gray text-[20px]">közös helyszin választás </li>
                        <li class="font-light text-gray text-[20px]">1,5-2óra fotózás</li>
                    </ul>
                </div>

                <div class="mb-10">
                    <p class="font-light text-gray text-[25px]">Képek átadása:</p>
                    <ul class="list-disc ml-5">
                        <li class="font-light text-gray text-[20px]">20-25 retusált kép kerül átadásra digitális formában </li>
                        <li class="font-light text-gray text-[20px]">igény szerint kérhető több retusált kép is, azok viszont felárasak </li>
                        <li class="font-light text-gray text-[20px]">a fotók egy online galériában lesznek elérhetők a megrendelő számára</li>
                    </ul>
                </div>

                <div class="mb-10">
                    <p class="font-light text-gray text-[25px]">+Tipp</p>
                <ul class="list-disc ml-5">
                    <li class="font-light text-gray text-[20px]">jól mutat, a képeket harmonikussáteszi ha összeöltöztök:) </li>
                    <li class="font-light text-gray text-[20px]">hozhattok váltóruhát is a változatosabb képekért </li>
                </ul>
                <div>
                    <button routerLink="/connect" class="border-2 px-6 py-3 bg-blue text-white font-light text-[20px] mx-auto block mt-10 hover:bg-white hover:text-blue hover:border-2">Árajánlatot kérek <span class="text-[22px]">></span></button>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
















<div class="md:h-[60px] md:w-[60px] w-17 h-17 rounded-full bg-pink flex justify-center items-center" id="scrollImage">
    <img  class="w-[50px]  invert" (click)="scrollToTop()" src="../../assets/svg/up.svg" alt="">
</div>