<!-- <div class="flex lg:flex-row flex-row-reverse">
    div
</div> -->
<div class="cardDiv">
<div class="grid lg:grid-cols-2 grid-cols-1 md:mx-10 md:my-5 xl:mx-[100px] lg:pb-[50px] lg:my-[80px]">
    
    <div class="card hiden">
        <img src="../../assets/images/hanna.jpg" alt="" class=" mx-auto block">
    </div>
    <div class="bg-light card hiden">
        <div class="h-1/6 xl:h-1/5 hidden lg:block">
        </div>
        <div class="lg:mx-5  xl:mx-15 py-5 mx-2">
            <h1 class="Main lg:text-6xl xl:text-7xl text-4xl font-extralight text-center md:text-left">MAGAMRÓL</h1>
            <p class="font-light text-gray xl:text-[25px] lg:text-[20px] mt-5 mb-2">Sziasztok!</p>
            <p class="font-light text-gray xl:text-[23px] lg:text-[18px]">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo debitis doloremque commodi neque amet? Rem dignissimos facilis laudantium. Esse totam obcaecati, animi et eaque iusto vitae? Assumenda nemo veniam ad dicta quis et optio facere iste, qui, beatae dolor placeat.</p>
        </div>
    </div>
    <div>
    </div>
</div>
</div>

<div class="md:h-[60px] md:w-[60px] w-17 h-17 rounded-full bg-pink flex justify-center items-center" id="scrollImage">
    <img  class="w-[50px]  invert" (click)="scrollToTop()" src="../../assets/svg/up.svg" alt="">
</div>
