<div class="my-5">
    <h1 class="lg:text-7xl md:text-6xl text-4xl font-extralight text-center">{{ galleryById.id }}</h1>
</div>
<a routerLink="/galery">
    <p class="font-light text-gray text-[18px]  my-[50px] text-center hover:underline"> <span class="text-[20px]"><</span> Vissza a Galériába</p>
</a>

<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
    
    <div *ngFor="let image of galleryById.img" class="">
      <div class="flex justify-center items-center h-full">
        <img src="{{ image }}" class="w-full h-full object-cover" oncontextmenu="return false;" ondragstart="return false;">
      </div>
    </div>
  </div>
  <div class="md:h-[60px] md:w-[60px] w-17 h-17 rounded-full bg-pink flex justify-center items-center" id="scrollImage">
    <img  class="w-[50px]  invert" (click)="scrollToTop()" src="../../assets/svg/up.svg" alt="">
</div>
